VisionD-NodeRED
[{"id":"bd0e5a3c.0d5a78","type":"tab","label":"STT Flow","disabled":false,"info":""},{"id":"13f22797.d17488","type":"debug","z":"bd0e5a3c.0d5a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":40,"wires":[]},{"id":"deb2dce0.bf398","type":"function","z":"bd0e5a3c.0d5a78","name":"Texto > *.txt","func":"msg.payload=msg.transcription;\n\nvar newMsg = { payload: \" > \"+msg.payload}\nmsg.payload=newMsg.payload;\nreturn [msg, newMsg];\n\n//return msg;              ","outputs":1,"noerr":0,"x":610,"y":180,"wires":[["7521bb71.4d2b64","13f22797.d17488","d2bc1300.30093","14dd32d1.bb514d"]]},{"id":"7521bb71.4d2b64","type":"file","z":"bd0e5a3c.0d5a78","name":"","filename":"/home/pi/STT/text1.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":810,"y":80,"wires":[[]]},{"id":"fc0404af.3269c8","type":"inject","z":"bd0e5a3c.0d5a78","name":"MOSTRAR TOTAL","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":420,"wires":[["5b0771a.256859"]]},{"id":"5b0771a.256859","type":"file in","z":"bd0e5a3c.0d5a78","name":"","filename":"/home/pi/STT/text1.txt","format":"utf8","chunk":false,"sendError":false,"x":480,"y":420,"wires":[["1a6e3af.21182c5"]]},{"id":"d307a055.9456d","type":"debug","z":"bd0e5a3c.0d5a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":420,"wires":[]},{"id":"1a6e3af.21182c5","type":"function","z":"bd0e5a3c.0d5a78","name":"*.txt > Texto","func":"msg.transcription=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":420,"wires":[["d307a055.9456d","d2bc1300.30093"]]},{"id":"90026c85.b689e","type":"file","z":"bd0e5a3c.0d5a78","name":"","filename":"/home/pi/STT/text1.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","x":470,"y":500,"wires":[[]]},{"id":"c65ca4b0.2a6a38","type":"serial out","z":"bd0e5a3c.0d5a78","name":"","serial":"8ff781ca.0202","x":1050,"y":240,"wires":[]},{"id":"a2929fe9.f6671","type":"inject","z":"bd0e5a3c.0d5a78","name":"BORRAR","topic":"","payload":" ","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":500,"wires":[["90026c85.b689e"]]},{"id":"f02fc729.d36c78","type":"microphone","z":"bd0e5a3c.0d5a78","name":"","x":200,"y":100,"wires":[["683bfe95.e83b8"]]},{"id":"d2bc1300.30093","type":"twilio out","z":"bd0e5a3c.0d5a78","twilio":"6ed86001.b4816","twilioType":"sms","url":"","number":"+51970014444","name":"","x":1050,"y":340,"wires":[]},{"id":"683bfe95.e83b8","type":"watson-speech-to-text","z":"bd0e5a3c.0d5a78","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"NarrowbandModel","bandhidden":"","password":"BNt1qYCquk8q","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":420,"y":100,"wires":[["deb2dce0.bf398"]]},{"id":"148ee55c.fe1c3b","type":"inject","z":"bd0e5a3c.0d5a78","name":"PRUEBA","topic":"","payload":" IBM       WATSON    PERU","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":240,"wires":[["c65ca4b0.2a6a38"]]},{"id":"14dd32d1.bb514d","type":"watson-translator","z":"bd0e5a3c.0d5a78","name":"","action":"translate","basemodel":"en-tr","domain":"general","srclang":"es","destlang":"en","password":"","apikey":"bVR-Dh-SBu_ldDRNcC27ZsYj1gN9S8ywjuYToekpsO5Y","custom":"","domainhidden":"general","srclanghidden":"es","destlanghidden":"en","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":830,"y":140,"wires":[["c65ca4b0.2a6a38"]]},{"id":"af93e234.cf093","type":"comment","z":"bd0e5a3c.0d5a78","name":"Mensaje de Prueba","info":"**Mostrar mensaje de prueba por comunicación serial**\n\nEn este bloque se deberá de ingresar un texto.\n\nLa función de este texto es el poder enviar un mensaje directamente por comunicación serial al la pantalla donde quieran mostar","x":210,"y":280,"wires":[]},{"id":"83d892d0.65dfb","type":"comment","z":"bd0e5a3c.0d5a78","name":"Micrófono [RaspBerry]","info":"Nativamente la versión de NodeRed cuenta con un bloque de micrófono.\n\nPara la versión Cloud de NodeRed no local, no cuenta.","x":200,"y":140,"wires":[]},{"id":"63d64810.8428b8","type":"comment","z":"bd0e5a3c.0d5a78","name":"Watson STT Service","info":"Agregar las credenciales del servicio creado en IBM Watson.","x":430,"y":60,"wires":[]},{"id":"9209986.1bdc468","type":"comment","z":"bd0e5a3c.0d5a78","name":"Watson Language Translator Service","info":"Agregar las credenciales del servicio creado en IBM Watson.","x":880,"y":180,"wires":[]},{"id":"1ca59f74.1d2971","type":"comment","z":"bd0e5a3c.0d5a78","name":"Guarda el text en .TXT","info":"Almacena el texto de manera local","x":1000,"y":80,"wires":[]},{"id":"644c6574.0e519c","type":"comment","z":"bd0e5a3c.0d5a78","name":"OutPut-NodeRED","info":"Muestra el texto de salida en el visualizador de NODE-RED","x":990,"y":40,"wires":[]},{"id":"d38862e2.263c7","type":"comment","z":"bd0e5a3c.0d5a78","name":"SerialComunication Transmition [RaspBerry]","info":"Conexión por comunicación serial del RaspBerry al dispositivo exterior","x":1130,"y":280,"wires":[]},{"id":"7af2ac4f.ae39b4","type":"comment","z":"bd0e5a3c.0d5a78","name":"Conversión de Texto","info":"Función para convertir el texto STT a texto plano","x":630,"y":220,"wires":[]},{"id":"d6107abd.0137f8","type":"comment","z":"bd0e5a3c.0d5a78","name":"Conversión de Texto","info":"Función para convertir el texto STT a texto plano","x":690,"y":460,"wires":[]},{"id":"ddda7e61.d3d2f","type":"comment","z":"bd0e5a3c.0d5a78","name":"Muestra los mensajes almacenados","info":"**Mostrar la totalidad de los mensajes**\n","x":260,"y":380,"wires":[]},{"id":"847bd6c5.e28258","type":"comment","z":"bd0e5a3c.0d5a78","name":"Borra el contenido almacenado","info":"**Mostrar mensaje de prueba por comunicación serial**\n\nEn este bloque se deberá de ingresar un texto.\n\nLa función de este texto es el poder enviar un mensaje directamente por comunicación serial al la pantalla donde quieran mostar","x":250,"y":540,"wires":[]},{"id":"bcb8668b.50f348","type":"comment","z":"bd0e5a3c.0d5a78","name":"OutPut-NodeRED","info":"Muestra el texto de salida en el visualizador de NODE-RED","x":890,"y":460,"wires":[]},{"id":"2dc155cc.bf063a","type":"comment","z":"bd0e5a3c.0d5a78","name":".TXT [RaspBerry]","info":"Archivo de Texto\nModo Lectura","x":500,"y":380,"wires":[]},{"id":"5d34fde6.2002e4","type":"comment","z":"bd0e5a3c.0d5a78","name":".TXT [RaspBerry]","info":"Archivo de Texto\nModo Escritura","x":480,"y":540,"wires":[]},{"id":"255310e7.606b2","type":"comment","z":"bd0e5a3c.0d5a78","name":"SMS Envío [RaspBerry]","info":"Envío de texto por mensajería SMS","x":1060,"y":380,"wires":[]}]
